body {
  padding-top: 54px;
  background-image: url(../images/background/yellow-squares.png);
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.icon {
  height: 30px;
}

.invert {
  filter: invert(1);
}
