body {
  padding-top: 54px;
  background-image: url(../images/background/yellow-squares.png);
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.icon {
  height: 30px;
}

.invert {
  filter: invert(1);
}

/* Custom Checkboxes */
[type=checkbox] {
  position: absolute;
  opacity: 0;
}
[type=checkbox] + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
[type=checkbox] + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border: 0.5px solid #666;
  border-radius: 3px;
}
[type=checkbox]:hover + label:before {
  background: #343a40;
}
[type=checkbox]:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
[type=checkbox]:checked + label:before {
  background: #343a40;
}
[type=checkbox]:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
